@*@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" >
            <table>
                <tr>
                    <td>
                        Man
                    </td>
                </tr>
                <tr>
                    07
                </tr>
            </table>
        </div>

        <div class="col-sm-6" >
                <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3" >0,5</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <table>
                <tr>
                    <td>
                        Man
                    </td>
                </tr>
                <tr>
                    07
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3">0,5</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <table>
                <tr>
                    <td>
                        Tirs
                    </td>
                </tr>
                <tr>
                    08
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3">0,5</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <table>
                <tr>
                    <td>
                        Ons
                    </td>
                </tr>
                <tr>
                    09
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3">0,5</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <table>
                <tr>
                    <td>
                        Tors
                    </td>
                </tr>
                <tr>
                    10
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3">0,5</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <table>
                <tr>
                    <td>
                        Fre
                    </td>
                </tr>
                <tr>
                    11
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3">0,5</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <table>
                <tr>
                    <td>
                        Lør
                    </td>
                </tr>
                <tr>
                    12
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3">0,5</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <table>
                <tr>
                    <td>
                        Søn
                    </td>
                </tr>
                <tr>
                    13
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <button class="button button2" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'">+ Legg til ny</button>
        </div>
        <div class="col-sm-3">0,5</div>
    </div>


    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3"><h1>2,5 t</h1></div>
    </div>
    <div class="row">
        <div>
            <button class="button button3" type="button" onclick="location.href='@Url.Action("DeliverTimeList","Home")'">Lever timelist</button>
        </div>
    </div>
</div>